<div class="path-container">
  <div class="row">
    <div class="large-12 columns ">
      <h1> This is a Timeline!</h1>
    </div>
  </div>
  <div class="row path-item">
    <div class="large-7 push-5 columns">
      <div class="circle circle-left "></div>
    </div>
    <div class="large-5 pull-7 columns path-text left">
      <h3>Lorem ipsum dolor sit amet, consectetur</h3>
      <p>Something that happened in the past or will happen in the future Lorem ipsum dolor sit amet, consectetur adipiscing elit.  a est. Suspendisse potenti. Sc lorem pretium, molestie</p>
      <a href="#">Show something cool »</a>
    </div>
  </div>
  <div class="row path-item">
    <div class="large-7 columns">
      <div class="circle circle-right right"></div>
    </div>
    <div class="large-5 columns path-text right">
      <h3>Lorem ipsum dolor sit amet, consectetur</h3>
      <p>Something that happened in the past or will happen in the future Lorem ipsum dolor sit amet, consectetur adipiscing elit.  a est. Suspendisse potenti. Sc lorem pretium, molestie</p>
      <a href="#">Show something cool »</a>
    </div>
  </div>
  <div class="row get-feedback path-item">
    <div class="large-7 push-5 columns">
      <div class="circle circle-left"></div>
    </div>
    <div class="large-5 pull-7 columns path-text left">
      <h3>Lorem ipsum dolor sit amet, consectetur</h3>
      <p>Something that happened in the past or will happen in the future Lorem ipsum dolor sit amet, consectetur adipiscing elit.  a est. Suspendisse potenti. Sc lorem pretium, molestie</p>
      <a href="#">Show something cool »</a>
    </div>
  </div>
  <div class="row land-job path-item">
    <div class="large-7 columns">
      <div class="circle circle-right right"></div>
    </div>
    <div class="large-5 columns path-text right">
      <h3>Lorem ipsum dolor sit amet, consectetur</h3>
      <p>Something that happened in the past or will happen in the future Lorem ipsum dolor sit amet, consectetur adipiscing elit.  a est. Suspendisse potenti. Sc lorem pretium, molestie</p>
      <a href="#">Show something cool »</a>
    </div>
  </div>
  <span class="line hide-for-small"></span>
</div>