<% content_for :title do %>About<% end %>
</br>
</br>
<h3>Meet the Team</h3>

<div class="card">
	<div class="container">
		<div class="front">
			<img src="http://placehold.it/300x200" />
		</div>

		<div class="back">
			<h5>This is a card.</h5>
			<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
			<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
			<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
			<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
		</div>
	</div>
</div>   
