<% content_for :title do %>About<% end %>

<!-- interchange -->
<!-- <img data-interchange="[/path/to/default.jpg, (default)], [/path/to/bigger-image.jpg, (large)], [image/path/to/retina.jpg, (retina)]">
<noscript><img src="/path/to/default.jpg"></noscript> -->

<!-- or your own queries -->
<!-- <img data-interchange="[/path/to/default.jpg, (only screen and (min-width: 1px))], [/path/to/bigger-image.jpg, (only screen and (min-width: 1280px))]">
<noscript><img src="/path/to/default.jpg"></noscript>
 -->

<!-- orbit -->
<!-- <ul class="example-orbit-content" data-orbit>
  <li data-orbit-slide="headline-1">
    <div>
      <h2>Headline 1</h2>
      <h3>Subheadline</h3>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div>
      <h2>Headline 2</h2>
      <h3>Subheadline</h3>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div>
      <h2>Headline 3</h2>
      <h3>Subheadline</h3>
    </div>
  </li>
</ul> -->

<div class="row">
  <div class="large-12 columns centered-text">
    <h2>Meet the team</h2>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <!-- tabs -->
    <dl class="tabs vertical" data-tab>
      <dd class="active"><a href="#panel1a">Monika</a></dd>
      <dd><a href="#panel2a">Brad</a></dd>
    </dl>
    <div class="tabs-content vertical">
      <div class="content active" id="panel1a">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
      </div>
      <div class="content" id="panel2a">
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil.<p>
      </div>
    </div>
  </div>
</div>

<!-- testimonials -->
<div class="testimonial-wrap">
  <div class="row">
    <div class="large-12 columns centered-text">
      <h2>What these awesome people have to say!</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns testimonial">
      <div class="quote">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.</p>
      </div>
      <div class="student">
        <div class="photo"> </div>
        <p>John Doe</p>
        <p>Important person, some Company</p>
      </div>
    </div>
    <div class="large-6 columns testimonial">
      <div class="quote">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.  </p>
      </div>
      <div class="student">
        <div class="photo"> </div>
        <p>John Doe</p>
        <p>Important person, some Company</p>
      </div>
    </div>
  </div>
</div>
